* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
}

body {
    background-color: #f5f7f9;

}


.header1 {
    background-color: white;
    padding: 1rem 13rem;
    height: 6rem;
    border-bottom: 1px solid #e4e4e4;


}


.header1 img {
    width: 2rem;
    height: 2rem;
}

input {
    border: none;
    width: 4rem;
    font-size: 1rem;
}

input:focus {
    border: none;
    outline: none;
}

.input img {
    width: 1.5rem;
}

.input {
    display: flex;
    width: 9rem;
    height: 2rem;
    justify-content: space-between;
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    padding: 0rem 0.6rem;
}

p.red {
    color: red;
}

.overallheader {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.avatar1 img {
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
}

.file {
    display: flex;
    gap: 1.3rem;
    cursor: pointer;
    height: 6rem;
    align-items: center;

}

.overallheader p {
    margin-bottom: 0.2rem;
    font-size: large;
}

.file img {
    width: 1.5rem;
    height: 1.5rem;
}

.file img:hover {
    margin-bottom: 0.4rem;
    transition: all 0.3s linear;
}

.overallheader p:hover {
    cursor: pointer;
    margin-bottom: 0.4rem;
    transition: all 0.2s linear;
}

.header2 {
    display: flex;
    gap: 3rem;
    padding-left: 15rem;
    height: 3rem;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
    align-items: center;
    font-size: large;
    color: #c5c5c5;
    font-weight: 700;
}

.header2 p {
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 0rem 1rem;
}

.header2 p:hover {
    border-bottom: 2px solid blue;
    cursor: pointer;
    transform: scale(1.001);

}

aside.overallaside {
    display: flex;
    margin-top: 2rem;
    gap: 1.5rem;
    width: 80%;
    margin: auto;


}

aside.asideleft {
    width: 15rem;
    height: 38rem;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    /* margin-left: 9rem; */

}

.billgate {
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 2rem;
}

.billgate img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin: 1rem 3rem;

}

.connect {
    color: blue;
}

.linkd:hover,
.globe:hover,
.download:hover {
    cursor: pointer;
    text-decoration: underline #e4e4e4;
}


.follow {
    width: 8rem;
    height: 2rem;
    background-color: blue;
    padding: 0.5rem;
    color: white;
    border-radius: 20px;
    cursor: pointer;

}

h2 {
    font-size: 1.8rem;
}

.billtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.billtext p:nth-child(3) {
    color: #c5c5c5;
}

.connect {
    border: 1px solid #6aaadd;
    border-radius: 20px;
    font-size: 20px;
    width: 8rem;
    height: 2rem;
    padding-top: 0.2rem;
    color: #6aaadd;
    cursor: pointer;
}

span {
    font-size: 15px;
}

.followers {
    display: flex;
    justify-content: space-around;
    height: 6rem;
    border-bottom: 1px solid #e4e4e4;
    /* padding-bottom: 5rem; */
    align-items: center;
    text-align: center;
}

.connect200 {
    border-right: 1px solid #e4e4e4;
    padding-right: 1.5rem;

}

.follower19 p:nth-child(2),
.connect200 p:nth-child(2) {
    color: #c5c5c5;
}

.follower19 p:first-child,
.connect200 p:first-child {
    font-weight: 800;
}

.globe img,
.download img {
    width: 1.4rem;
    height: 1.4rem;
}

.linkd,
.globe,
.download {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #c5c5c5;
    padding-left: 1rem;
    line-height: 2rem;
}

.globe {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e4e4e4;
}

.download {
    padding-top: 1rem;
}

.asidecenter,
.asidecentersecond {
    width: 38rem;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    height: 23rem;


}

.section123 {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin: 1rem;

}

.asidecenter img {
    width: 11rem;
}

.section1 {
    width: 12rem;
    font-size: large;
}

.section1 p:nth-child(3) {
    color: #c5c5c5;
    font-size: 10px;
}



.section1:hover p:nth-child(2) {
    text-decoration: underline;
    cursor: pointer;
}

.asidecenterheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e4e4e4;

}

.lessthan {
    display: flex;
    gap: 0.5rem;

}

.less {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 900;
    cursor: pointer;
}

.asidecentersecond {
    height: 55rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.sum {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.6rem;
}

.lore {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

.asidecentersecond h1 {
    padding-bottom: 1.5rem;
}

.circle1,
.circle2 {
    width: 0.7rem;
    height: 0.7rem;
    border: 1px solid #e4e4e4;
    border-radius: 50%;

}

.line {
    height: 5rem;
    width: 3px;
    background-color: #e4e4e4;

}

.bothline {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2rem;
}

.presentoverall {
    display: flex;
}

.present12 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5rem;
}

.present1 p:first-child {
    font-size: 12px;
    color: #c5c5c5;
}

.present1 p:nth-child(2),
.present1 p:nth-child(3) {
    font-size: large;
}

.present1 p:nth-child(3) {
    color: #6aaadd;
    cursor: pointer;

}

.present1 p:nth-child(3):hover {
    text-decoration: underline;
}

.margin {
    margin-bottom: 2rem;
}

.micro img {
    width: 6rem;
}

.overallpresent1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17rem;
}

.socialleft {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-left: 1.8rem;
}

.socialright {
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.socialright img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.plus {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c5c5c5;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 800;
}

.interest {
    display: flex;
    gap: 0.6rem;
    margin-left: 1.8rem;
}

.interest p {
    background-color: #c5c5c5;
    padding: 0.3rem;
}

.asidecenterthird,
.asidecenterfourth {
    width: 38rem;
    height: 24rem;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    margin-top: 1rem;
}

.asidecenterfourth {
    height: 18rem;
    margin-bottom: 1rem;
}

.lorem {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e4e4e4;
    padding: 1rem;
}

.lorem1 {
    width: 11rem;
    height: 12rem;
    border: 1px solid #c5c5c5;
    padding: 1rem;
}

.steve {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.steve img {
    width: 3rem;
    border-radius: 50%;

}

.smj {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.amazon {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.amazon img {
    width: 8rem;
    border: 1px solid #c5c5c5;
    padding: 1.5rem;
}

.microsoft {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
    cursor: pointer;
}

.blue p:hover {
    text-decoration: underline;
}

.plus2 {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 0.5rem;
    padding: 0.2rem 0.3rem 0.3rem 0.4rem;
    color: black;
}

.blue {
    color: #6aaadd;
}

.see {
    width: 7rem;
    border: 1px solid #a5cced;
    text-align: center;
    height: 2rem;
    color: #6aaadd;
    padding-top: 0.3rem;
    border-radius: 20px;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.see:hover {
    background-color: #eff4f7;
    cursor: pointer;
}

#footer {
    color: #5c3a3a;
    border-top: 1px solid #c5c5c5;
    text-align: center;
    padding: 1rem;

}

.asideright {
    width: 15rem;
    height: 38rem;
}

.sjs {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
}

.steveimg img {
    border-radius: 50%;
    width: 7rem;
}

.steveimg {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.more {
    font-size: large;
    margin: 1rem 1rem;
}

.stevetext p:first-child {
    font-weight: 900;
    text-align: center;
    margin-top: 0.5rem;
}

.stevetext p:nth-child(2) {
    font-size: smaller;
    margin-top: 0.5rem;
    color: #c5c5c5;
    text-align: center;
}

.mobile-nav {
    display: none;
}

@media (max-width:640px) {
    :root {
        font-size: 20px;
    }

    aside.overallaside {
        display: flex;
        margin-top: 2rem;
        gap: 2rem;
        width: 100%;
        flex-direction: column;
        margin-right: 0;
        margin-left: 0;
        margin: auto;


    }

    .header1 {
        display: none;
        margin: none;
        padding: none;
    }

    .mobile-nav {
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 57rem;
        padding: 0;
        margin: 0;
        padding: 0.5rem 1rem;
    }

    .header2 {
        padding-left: 1rem;
        /* gap: 4rem; */
        justify-content: space-around;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        background-color: white;
        width: 55rem;
        margin-left: 1rem;
    }

    .mobile-nav img {
        width: 4rem;
        height: 4rem;
    }

    .mobile-nav p {
        font-size: 4rem;
        font-weight: 900;
    }

    aside.asideleft,
    .asidecenter,
    .asidecentersecond,
    .asidecenterthird,
    .asidecenterfourth,
    .asideright,
    footer#footer {
        width: 55rem;
        height: auto;
        margin-left: 1rem;
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    .billgate img {
        width: 25rem;
        height: 25rem;

    }

    .billgate {
        font-size: 5rem;
    }

    .billtext h2 {
        font-size: 5rem;
    }

    .follow,
    .connect,
    .connect span {
        height: 7rem;
        width: 23rem;
        font-size: 4rem;
        margin-top: 2rem;

    }

    .followers {
        margin: 2rem 0rem;
        font-size: 3.5rem;
        height: 8rem;
        padding-bottom: 2rem;

    }

    .cursor img {
        width: 4rem;
        height: 4rem;
        margin-right: 2rem;

    }

    .cursor span {
        font-size: 3rem;
    }



    .asidecenter img {
        width: 15rem;
        height: 15rem;
        margin-right: 2rem;

    }

    .section123 {
        gap: 2rem;

    }

    .section1 {
        width: max-content;
    }

    .asidecenter {
        margin-left: 2rem;
    }

    .section1 p:nth-child(2) {
        font-size: 2rem;
    }

    .section1 p:nth-child(3) {
        font-size: xx-large;
    }

    .lore {
        font-size: 2.8rem;
    }

    .asidecentersecond h1 {
        font-size: 4rem;
    }

    .sum p:nth-child(2) {
        font-size: 3.2rem;

    }

    .sum img {
        width: 4rem;
        height: 4rem;
    }

    body {
        overflow-x: hidden;
    }

    .present1 p {
        font-size: 2rem;
    }

    .present1 p:first-child,
    .present1 p:nth-child(2),
    .present1 p:nth-child(3) {
        font-size: 2.2rem;
    }

    .micro img {
        width: 15rem;
    }

    .present12 {

        gap: 5rem;
        line-height: 3rem;
    }

    .circle1,
    .circle2 {
        width: 1.2rem;
        height: 1.2rem;
        border: 1px solid #e4e4e4;
        border-radius: 50%;

    }

    .line {
        height: 8rem;
        width: 5px;


    }

    .bothline {
        width: 4.5rem;
    }

    .lessthan {
        gap: 1rem;

    }

    .less {
        width: 5rem;
        height: 5rem;
        border: 2px solid black;
        font-size: xx-large;

    }

    .plus,
    .socialright img {
        height: 5rem;
        width: 5rem;
        font-size: xx-large;
    }

    .lorem1 {
        width: 19rem;
        height: 26rem;
        border: 1px solid #c5c5c5;
        padding: 1rem;
    }

    .steve img {
        width: 5rem;
        height: 5rem;
    }

    .stevetext p:first-child {
        font-size: 1.8rem;
    }

    .stevetext p:nth-child(2) {
        font-size: 1.5rem;
    }

    .stevetext {
        display: flex;
        flex-direction: column;
        padding-right: 0.5rem;
        align-items: flex-start;
        width: max-content;
    }

    .steve {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .amazon img {
        width: 13rem;

    }

    .microsoft {
        display: flex;
        margin: 2rem 1rem;
        cursor: pointer;
        align-items: center;
        justify-content: baseline;
    }

    .plus2 {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 2px solid black;
        margin-right: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 1.8rem;
    }

    .blue p {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .see {
        width: max-content;
        height: max-content;
        font-size: 3rem;
        padding: 1rem 2rem;
        border-radius: 50px;
    }

    .more {
        font-size: larger;
    }

    .xx2 {
        justify-content: flex-start;
        gap: 2rem;
    }

    .xx2 img {
        width: 7rem;
        height: 7rem;
    }

    .steveimg img {
        width: 23rem;
        height: 23rem;
    }

    .steveimg span {
        font-size: 4rem;
    }

    .steveimg {
        display: flex;
        justify-content: flex-start;
    }

    .stevetext p:first-child {
        font-size: 4rem;
    }

    .stevetext p:nth-child(2) {
        font-size: 3rem;
    }

    .xx3 p:first-child {
        font-size: 2rem;
    }

    .xx3 p:nth-child(2) {
        font-size: 2.5rem;
    }
}